<div class="card text-white bg-secondary mb-3 rounded">
  <div class="card-header" id="headingTwo">
    <h2 class="mb-0">
      <button class="btn btn-link collapsed text-dark my-btn" type="button" data-toggle="collapse"
              data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" (click)="toggle()">
        <i class="icon ion-md-arrow-dropdown"  *ngIf="isOpen"></i>
        <i class="icon ion-md-arrow-dropright"  *ngIf="!isOpen"></i>
        Whole Filter Charts
      </button>
    </h2>
  </div>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
    <app-charts-card></app-charts-card>
  </div>
</div>



