<div class="card-body">

  <div class="container-fluid">
    <div class="row">

      <div class="col-6"><div class="card shadow " style="width: 100%;">
        <app-elements-chart></app-elements-chart>
      </div>
      </div>

      <div class="col-6"><div class="card shadow " style="width: 100%;">
        <app-cells-chart></app-cells-chart>
      </div>
      </div>

    </div>

    <div class="row mt-3">
      <div class="col-6"><div class="card shadow " style="width: 100%;">
        <app-emersion-chart></app-emersion-chart>
      </div>
      </div>

      <div class="col-6"><div class="card shadow " style="width: 100%;">
        <app-false-pos-prob-chart></app-false-pos-prob-chart>
      </div>
      </div>

    </div>

    <div class="row mt-3">
      <div class="col-6"><div class="card shadow " style="width: 100%;">
        <app-interset-err-chart></app-interset-err-chart>
      </div>
      </div>

      <div class="col-6"><div class="card shadow " style="width: 100%;">
        <app-a-priori-safe-chart></app-a-priori-safe-chart>
      </div>
      </div>

    </div>
  </div>
</div>

