<div class="card-body">

  <div class="container-fluid">
    <div class="row">
      <div class="col-6"><div class="card shadow " style="width: 100%;">
        <app-p-vs-n></app-p-vs-n>
      </div>
      </div>

      <div class="col-6"><div class="card shadow " style="width: 100%;">
        <app-p-vs-m></app-p-vs-m>
      </div>
      </div>
    </div>


    <div class="row mt-2">

      <div class="col-6"><div class="card shadow " style="width: 100%;">
        <app-p-vs-k></app-p-vs-k>
      </div>
      </div>

    </div>
  </div>


</div>
